<!DOCTYPE html>
<html lang="en">
	<head>
    	<!-- Meta Data -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Kole's Website</title>
        <meta name="description" content="Website Design by a motion graphics person?"/>
        <meta name="keywords" content="creative, motion graphics, public relations, management, creative director, design, graphic design, marketing, media, social media, content creator"/>
        <meta name="author" content="Nicole Belopotosky"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
       	<link rel="shortcut icon" href="img/new/favicon.ico" type="image/x-icon">

        <!-- Stlylesheet -->
        <link href="css/style.css?v=2" rel="stylesheet" type="text/css" />

        <!-- Skin Color -->
        <link rel="stylesheet" href="css/colors/pink.css" id="color-skins"/>

	</head>
    {{{body}}}
    <!-- Start Footer 1 -->
    <footer id="footer">
        <div class="footer-widgets">
            <div class="container">
                    <div class="col-md-3 col-sm-6 col-footer">
                        <h4>About</h4>
                        <p>Born and raised in Ohio; I relocated to Oregon in search of Big Foot.</p>
                        <p>I love surprises and can often be found spoiling my little dog, Bowie.</p>
                        <p>My hair is red and I looked up to Lucille Ball as a child... and still do.</p>
                        <p>I play videogames and have slowly gotten over being a sore loser. Just kidding.</p>
                    </div>

                    <div class="col-md-3 col-sm-6 col-footer">
                        <div class="contact">
                            <h4>Contact</h4>
                            <ul class="contact-details">
                                <li><p><i class="icon ion-ios-location-outline highlight"></i> 955 NW Hobart Avenue, #3 Corvallis OR 97330</p></li>
                                <li><p><i class="icon ion-ios-telephone highlight"></i> (773) 322-7650</p></li>
                                <li><p><i class="icon ion-android-mail highlight"></i> <a href="mailto:n.belopotosky@gmail.com">n.belopotosky@gmail.com</a></p></li>
                                <li><p><i class="icon ion-ios-cloud-download highlight"></i> <a href="nicole.belopotosky.resume.pdf" download>Download My Resume</a>
                                    <a class="ion-android-open" href="nicole.belopotosky.resume.pdf" style="padding-left:10px"></a>
                                </p></li>

                            </ul>
                        </div>
                    </div>
                <section id="contact">
                        <div class="col-md-3 col-sm-6 col-footer">
                        <div id="message"></div>
                                             <h4>Hit me up, fam</h4>
                            <!-- Contact Form will be functional only on your server. Upload to your server when testing. -->
                            <form method="post" action="/" name="contactform" id="contactform">
                                <fieldset>
                                    <input name="name" type="text" id="name" placeholder="Name"/>
                                    <input name="email" type="text" id="email" placeholder="Email"/>
                                    <input name="subject" type="text" id="subject" placeholder="Subject"/>
                                </fieldset>
                        </div>
                        <div class="col-md-3 col-sm-6 col-footer">
                                <fieldset style="padding-top:45px;">
                                    <textarea name="comments" cols="40" rows="3" id="comments" placeholder="Message"style="width: 284px; height: 140px;"></textarea>
                                </fieldset>
                                <input type="submit" class="submit" id="submit" value="Send Message" />
                        </div>
                            </form>
                    
                </section>


            </div>
        </div>
        
        <!--  End Footer Widgets -->

        <div class="footer-copyright">
            <div class="container">
                <div class="row">

                    <div class="col-md-6 col-sm-12">
                        <p><img src="img/assets/footer.png" class="logo-small" style="max-width:25%"></p>
                    </div>
                    <div class="col-md-6 col-sm-12">
                        <ul id="social-icons">
                            <li><a class="social-icon" href="https://twitter.com/killakole_"><i class="icon icon-social-twitter"></i></a></li>
                            <li><a class="social-icon" href="https://vimeo.com/73106432"><i class="icon ion-social-vimeo"></i></a></li>
                            <li><a class="social-icon" href="https://www.linkedin.com/in/belopotosky"><i class="icon ion-social-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </footer>
    <!-- End Footer 1 -->

    <!-- Start Back To Top -->
    <a id="back-to-top"><i class="icon ion-chevron-up"></i></a>
    <!-- End Back To Top -->

</html>