 
<!-- Start Load More Block 1 -->
<div class="cbp-loadMore-block1"> 
    
        <!-- Portfolio Items -->

        <li class="cbp-item effect effects freelance">
            <div class="img">
                <img src="img/thumbnails/thumb-aldi.png" class="img-responsive" alt="" />
                <div class="overlay">
                    <ul class="expand">
                        <li class="cbp-l-caption-title">Aldi's</li>
                    </ul>
                </div>
            </div>
        </li>

        <li class="cbp-item effect effects freelance">
            <div class="img">
                <img src="img/thumbnails/thumb-best buy.png" class="img-responsive" alt="" />
                <div class="overlay">
                    <ul class="expand">
                        <li class="cbp-l-caption-title">Best Buy</li>
                    </ul>
                </div>
            </div>
        </li>   
        <li class="cbp-item effect effects edelman">
            <div class="img">
                <img src="img/thumbnails/thumb-ebay.png" class="img-responsive" alt="" />
                <div class="overlay">
                    <ul class="expand">
                        <li class="cbp-l-caption-title">Ebay</li>
                    </ul>
                </div>
            </div>
        </li>

        <li class="cbp-item effect effects edelman">
            <div class="img">
                <img src="img/thumbnails/thumb-futp.png" class="img-responsive" alt="" />
                <div class="overlay">
                    <ul class="expand">
                        <li class="cbp-l-caption-title">Fuel Up to Play!</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="cbp-item effect effects edelman">
            <div class="img">
                <img src="img/thumbnails/thumb-glade.png" class="img-responsive" alt="" />
                <div class="overlay">
                    <ul class="expand">
                        <li class="cbp-l-caption-title">Glade</li>
                    </ul>
                </div>
            </div>
        </li>
</div>
<!-- End Load More Block 1 -->

 
<!-- Start Load More Block 1 -->
<div class="cbp-loadMore-block2"> 
    
        <!-- Portfolio Items -->

        <li class="cbp-item effect effects edelman">
            <div class="img">
                <img src="img/thumbnails/thumb-gm.png" class="img-responsive" alt="" />
                <div class="overlay">
                    <ul class="expand">
                        <li class="cbp-l-caption-title">GM</li>
                    </ul>
                </div>
            </div>
        </li>

        <li class="cbp-item effect effects edelman">
            <div class="img">
                <img src="img/thumbnails/thumb-hp.png" class="img-responsive" alt="" />
                <div class="overlay">
                    <ul class="expand">
                        <li class="cbp-l-caption-title">HP</li>
                    </ul>
                </div>
            </div>
        </li>   
        <li class="cbp-item effect effects edelman">
            <div class="img">
                <img src="img/thumbnails/thumb-ibot.png" class="img-responsive" alt="" />
                <div class="overlay">
                    <ul class="expand">
                        <li class="cbp-l-caption-title">iBot</li>
                    </ul>
                </div>
            </div>
        </li>

        <li class="cbp-item effect effects edelman">
            <div class="img">
                <img src="img/thumbnails/thumb-walmart.png" class="img-responsive" alt="" />
                <div class="overlay">
                    <ul class="expand">
                        <li class="cbp-l-caption-title">Walmart</li>
                    </ul>
                </div>
            </div>
        </li>
        <li class="cbp-item effect effects freelance">
            <div class="img">
                <img src="img/thumbnails/thumb-paypal.png" class="img-responsive" alt="" />
                <div class="overlay">
                    <ul class="expand">
                        <li class="cbp-l-caption-title">Paypal</li>
                    </ul>
                </div>
            </div>
        </li>
</div>
<!-- End Load More Block 1 -->

 
<!-- Start Load More Block 1 -->
<div class="cbp-loadMore-block3"> 
    
        <!-- Portfolio Items -->
        <li class="cbp-item effect effects edelman">
            <div class="img">
                <img src="img/thumbnails/thumb-autodesk.png" class="img-responsive" alt="" />
                <div class="overlay">
                    <ul class="expand">
                        <li class="cbp-l-caption-title">AUTODESK</li>
                    </ul>
                </div>
            </div>
        </li>
        
        <li class="cbp-item effect effects edelman">
            <div class="img">
                <img src="img/thumbnails/thumb-pfizer.png" class="img-responsive" alt="" />
                <div class="overlay">
                    <ul class="expand">
                        <li class="cbp-l-caption-title">Pfizer</li>
                    </ul>
                </div>
            </div>
        </li>

        <li class="cbp-item effect effects edelman">
            <div class="img">
                <img src="img/thumbnails/thumb-poptarts.png" class="img-responsive" alt="" />
                <div class="overlay">
                    <ul class="expand">
                        <li class="cbp-l-caption-title">Poptarts</li>
                    </ul>
                </div>
            </div>
        </li>   
        <li class="cbp-item effect effects edelman">
            <div class="img">
                <img src="img/thumbnails/thumb-dove.png" class="img-responsive" alt="" />
                <div class="overlay">
                    <ul class="expand">
                        <li class="cbp-l-caption-title">Dove</li>
                    </ul>
                </div>
            </div>
        </li>
</div>
<!-- End Load More Block 1 -->
